<thead>
<tr>
  <th data-field="inicio">Início</th>
  <th data-field="timer">E</th>
  <th data-field="timer">D</th>
  <th data-field="timer">Apagar</th>
</tr>
</thead>

<tbody>

{{#each sortedTimers as |timer|}}
  <tr>
    <td>{{date-display timer.start}}</td>
    <td class="{{if timer.lastSideE 'teal-text'}}">{{minutes-display timer.eDuration}}</td>
    <td class="{{unless timer.lastSideE 'teal-text'}}">{{minutes-display timer.dDuration}}</td>
    <td>
      <a class="btn-floating waves-effect waves-light red" {{action 'deleteTimer' timer}}>
        <i class="mdi-action-delete"></i>
      </a>
    </td>
  </tr>
{{/each}}
</tbody>
