<div class="section">
  <h1>timers</h1>
  <p>Início: {{hour-display start}}</p>
  <ul class="collection">
    {{timer-clock side='E' action='setEElapsed' save='savePartial'}}
    {{timer-clock side='D' action='setDElapsed' save='savePartial'}}
  </ul>
</div>

<div class="section">
  {{timer-after}}
</div>

<i class="large mdi-action-done teal-text pointer" {{action 'save'}}></i>