<h5>Eventos</h5>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col m6 s12">
        {{input placeholder="Name" id="event_name" type="text" class="validate" value=newEventName}}
        <label for="event_name">Nome</label>
      </div>
      <div class="input-field col m6 s12">
        {{input placeholder="Timer" id="event_timer" type="text" class="validate" value=newEventTimer}}
        <label for="event_timer">Timer</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m6 s8">
        <div class="switch">
          <label>
            Final
            {{input type="checkbox" checked=newEventOnStart}}
            <span class="lever"></span>
            Início
          </label>
        </div>
      </div>
      <div class="input-field col m6 s4">
        <button class="btn-floating" {{action 'createEvent'}}>
          <i class="mdi-content-add"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<br>

<div class="row">
  <div class="section">
    <table class="centered bordered">
      <thead>
      <tr>
        <th data-field="evento">Evento</th>
        <th data-field="inicio">Início</th>
        <th data-field="timer">Timer</th>
        <th data-field="timer">Apagar</th>
      </tr>
      </thead>

      <tbody>

      {{#each model as |event|}}
        <tr>
          <td>{{event.name}}</td>
          <td>{{event.onStart}}</td>
          <td>{{event.timer}}</td>
          <td>
            <a class="btn-floating waves-effect waves-light red" {{action 'deleteEvent' event}}>
              <i class="mdi-action-delete"></i>
            </a>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
