<h5>Eventos</h5>
<div class="section">
  <div class="row z-depth-1">
    {{md-input value=newEventName label="Nome" class="col m3 s6"}}
    {{md-input value=newEventTimer label="Timer" type="number" class="col m2 s6"}}
    {{md-switch checked=newEventOnStart onLabel="Inicio" offLabel="Final" class="col m3 s8 input-field"}}
    <div class="input-field col m2 s4 center-align">
      {{md-btn icon='mdi-content-add' action='createEvent' buttonType='floating'}}
    </div>
  </div>
</div>

<div class="section">
  <div class="row z-depth-1">
    <table class="centered">
      <thead>
      <tr>
        <th data-field="evento">Evento</th>
        <th data-field="inicio">Início</th>
        <th data-field="timer">Timer</th>
        <th data-field="timer">Apagar</th>
      </tr>
      </thead>

      <tbody>

      {{#each model as |event|}}
        <tr>
          <td>{{event.name}}</td>
          <td>{{event.onStart}}</td>
          <td>{{event.timer}}</td>
          <td>
            <a class="btn-floating waves-effect waves-light red" {{action 'deleteEvent' event}}>
              <i class="mdi-action-delete"></i>
            </a>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
